body
{
	background-color: white; 
	font-family: Verdana;
	font-size: 20px;
	color: red;
}

#container
{
	width:1000px;
	margin-left: auto;
	margin-right: auto;
}


#menu
{
	border-style: solid;
	border-color: red;
	text-align: center; 
	background-color: #dedede;
	margin-top: 20px;
	color: #ffffff;
	padding: 20px;
}

#topbar
{
	text-align: center;
	border-style: solid;
	border-color: red;
	background-color: #dedede;
	color: red;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 25px;
	height: 170px;
}

#content
{
	border-style: solid;
	border-color: red;
	margin-top: 25px;
	padding: 40px;
	margin-bottom: 10px;
	width: auto;
	background-color: #dedede;
	min-height: 580px;
	text-align: justify;
}

#footer
{
	clear: both;
	color: white;
	text-align: center;
	padding: 20px;
	font-size: 18px;
}

#slider {
	height:auto;
	width:auto;
	margin: 50px auto;
	position:relative;
	border-radius:4px;
	overflow:hidden;
	}
	
#image {
	height:400px;
	width:650px;
	position:absolute;
	}

.option
{
	float: left;
	min-width: 50px;
	height: 25px;
	font-size: 18px;
	padding: 10px;
	border-right: 2px dotted #444444
	opacity: 0.8;
}

.option:hover
{
	background-color: #000000;
	cursor: pointer;
}

.bigtitle
{
	margin-top: 50px;
	font-size: 40px;
	font-weight: 900;
	letter-spacing: 2px;
}

.middletitle
{
	margin-top: 50px;
	font-size: 35px;
	font-weight: 900;
	letter-spacing: 2px;
}
.title
{
	font-size: 20px;
	font-weight: 900;
	letter-spacing: 2px;
}
.img
{
	width: 20px;
	margin-left: auto;
	margin-right: auto;
}

.dottedline
{
	height: 5px;
	margin-top: 15px;
	margin-bottom: 20px;
	border-bottom: 2px dotted #444444

}

a
{
    color: red;
}

a:link {
    text-decoration: none
}

a:visited {
    text-decoration: none
}

a:active {
    text-decoration: none
}

a:hover {
    text-decoration: none
}
}